<template>
  <div class="border-b bg-white">
    <div @click="toggleAccordeon" class="bg-gray-100 py-2 px-4 ">
      <slot name="header"></slot>
    </div>
    <transition name="fadeHeight" mode="out-in">
      <div class="border-t  px-4 " v-if="isOpen">
        <slot name="content"></slot>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isOpen: false,
    };
  },
  methods: {
    toggleAccordeon() {
      this.isOpen = !this.isOpen;
    },
  },
};
</script>

<style>
.fadeHeight-enter-active,
.fadeHeight-leave-active {
  transition: all 0.15s;
  max-height: 300px;
}
.fadeHeight-enter,
.fadeHeight-leave-to {
  opacity: 0;
  max-height: 0px;
}
</style>
