<template>
  <div class="text-left">
    <h2 class="heading mt-12">
      Chords
    </h2>
    <form class="mt-3 border-t border-l border-r rounded" action="">
      <accordeon
        v-for="(category, i) in Object.keys(getChordsMappedByCategory)"
        :key="i"
      >
        <template #header
          ><div class="flex items-center">
            <input
              :indeterminate.prop="isIndeterminate(category)"
              v-on:click.stop="toggleSelectAllByCategory(category)"
              class="w-5 h-5 mr-2 form-checkbox"
              type="checkbox"
              :checked="areAllSelectedByCategory(category)"
            />
            <h3 class="text-lg font-semibold">{{ category }}</h3>
          </div></template
        >
        <template #content>
          <div class="my-4 grid grid-cols-4 gap-1 content-center bg-white">
            <div
              class="flex items-center "
              v-for="chord in getChordsByCategory(category)"
              :key="chord.id"
            >
              <input
                class="w-5 h-5 mr-1 form-checkbox disabled:opacity-50"
                :disabled="isChordLocked(chord.id)"
                v-model="selectedChords"
                :value="chord.id"
                type="checkbox"
              />
              <label class="form-label text-lg">{{ chord.name }}</label>
            </div>
          </div>
        </template>
      </accordeon>
    </form>
  </div>
</template>

<script>
import Accordeon from "./Accordeon.vue";
export default {
  components: { Accordeon },

  computed: {
    getChordsMappedByCategory() {
      return this.$store.getters.getChordsMappedByCategory;
    },

    selectedChords: {
      get() {
        return this.$store.state.selected;
      },
      set(value) {
        this.$store.dispatch("updateSelected", value);
      },
    },
  },
  methods: {
    toggleSelectAllByCategory(category) {
      let chords = this.$store.getters
        .getChordsByCategory(category)
        .map((chord) => chord.id);
      if (!this.areAllSelectedByCategory(category)) {
        this.addToSelectedChords(chords);
      } else {
        this.removeFromSelectedChords(chords);
      }
    },
    getChordsByCategory(category) {
      return this.$store.getters.getChordsByCategory(category);
    },
    isChordLocked(chordId) {
      return this.$store.getters.isChordLocked(chordId);
    },
    isChordSelected(selectedId) {
      return this.$store.getters.isChordSelected(selectedId);
    },
    areAllSelectedByCategory(category) {
      return this.$store.getters.areAllSelectedByCategory(category);
    },
    areNoneSelectedByCategory(category) {
      return this.$store.getters.areNoneSelectedByCategory(category);
    },
    addToSelectedChords(ids) {
      this.$store.dispatch("selectMultipleChords", ids);
    },
    removeFromSelectedChords(ids) {
      this.$store.dispatch("unselectMultipleChords", ids);
    },
    isIndeterminate(category) {
      return (
        !this.areAllSelectedByCategory(category) &&
        !this.areNoneSelectedByCategory(category)
      );
    },
  },
  mounted() {},
};
</script>

<style></style>
