<template>
  <div class="">
    <h2 class="text-6xl text-black font-thin">{{ chord.name }}</h2>
    <div
      v-bind:class="{ hidden: !show }"
      class="w-full px-16"
      :id="`chord-${chord.name}`"
    ></div>
    <button
      class="btn btn-secondary w-1/3 mt-4"
      v-on:click="isChordLocked ? unlockChord() : lockChord()"
    >
      {{ isChordLocked ? "Unlock" : "Lock" }}
    </button>
  </div>
</template>

<script>
import { SVGuitarChord } from "svguitar";
export default {
  props: {
    chord: Object,
    showChart: Boolean,
  },
  data() {
    return {
      show: this.showChart,
    };
  },
  methods: {
    lockChord() {
      this.$store.dispatch("lockChord", this.chord.id);
    },
    unlockChord() {
      this.$store.dispatch("unlockChord", this.chord.id);
    },
  },
  computed: {
    isChordLocked() {
      return this.$store.getters.isChordLocked(this.chord.id);
    },
  },
  watch: {
    showChart: function(newVal) {
      this.show = newVal;
    },
  },

  mounted() {
    const chart = new SVGuitarChord(`#chord-${this.chord.name}`);
    chart
      .chord({
        fingers: this.chord.fingers,
        barres: this.chord.barre ? this.chord.barre : [],
      })
      .draw();
  },
};
</script>

<style></style>
