<template>
  <div class="text-left mt-12">
    <h2 class="heading mb-4">Instructions</h2>
    <p class="content mb-4">
      Welcome to Chord Buddy, a tool to rapidly improve your chord transitions.
      You'll practice switching between randomly chosen chords.
    </p>
    <p class="content mb-4">
      Each round, you alternate between the chords and play them. Try to do this
      as many times as possible within the given time.
      <i>
        Tip: Do not sacrifice speed for accuracy.
      </i>
      You can choose the chords you wish to randomly select. Additionally, you
      can enable options such as Auto Advance and the amount of chords you wish
      to switch between.
    </p>
  </div>
</template>

<script>
export default {};
</script>

<style></style>
