<template>
  <div class="mx-auto max-w-screen-md px-4 md:px-6 lg:px-8 my-16">
    <div class="grid-wrapper">
      <div v-for="chord in currentChords" :key="chord.id" class="w-full mb-4">
        <chord :showChart="showChart" v-bind:chord="chord" />
      </div>
    </div>
    <timer ref="timer" @onEnd="timerCallback" :startTime="duration" />
    <button
      class="btn btn-secondary w-full mt-4 text-lg"
      v-on:click="changeChords"
    >
      Change Chords
    </button>
    <instructions />
    <settings />
    <chord-form />
  </div>
</template>

<script>
import Chord from "./Chord.vue";
import ChordForm from "./ChordForm.vue";
import Instructions from "./Instructions.vue";
import Settings from "./Settings.vue";
import Timer from "./Timer.vue";
export default {
  name: "Page",
  components: {
    Chord,
    Timer,
    Instructions,
    Settings,
    ChordForm,
  },
  data() {
    return {
      duration: parseInt(this.$store.getters.getRoundDuration),
      showChart: this.$store.getters.getShowChart,
    };
  },
  methods: {
    changeChords() {
      this.$store.dispatch("setRandomCurrentChords");
    },
    startTimer() {
      this.$refs.timer.startTimer();
    },
    timerCallback() {
      if (this.$store.getters.getAutoAdvance) {
        console.log("timer callack");
        this.changeChords();
        this.startTimer();
      }
    },
  },

  computed: {
    list() {
      return this.$store.state.chords;
    },
    currentChords() {
      return this.$store.getters.getCurrentChords;
    },
  },
  created() {
    this.unwatchRoundDuration = this.$store.watch(
      (state, getters) => getters.getRoundDuration,
      (newValue) => {
        this.duration = parseInt(newValue);
      }
    );
    this.unwatchShowChart = this.$store.watch(
      (state, getters) => getters.getShowChart,
      (newValue) => {
        this.showChart = newValue;
      }
    );
  },
  beforeDestroy() {
    this.unwatchRoundDuration();
    this.unwatchShowChart();
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
}
</style>
