<template>
  <div class="text-left ">
    <h2 class="heading mt-12">
      Settings
    </h2>
    <form class="">
      <div class="flex mt-6 items-start">
        <input
          type="checkbox"
          v-model="autoAdvance"
          class="form-checkbox w-6 h-6 mt-1 mr-3"
        />
        <div class="">
          <label class="text-xl">Auto-Advance</label>
          <p class="support ">
            When a round ends, automatically change chords and start a new
            round.
          </p>
        </div>
      </div>
      <div class="flex mt-6 items-start">
        <input
          type="checkbox"
          v-model="showChart"
          class="form-checkbox w-6 h-6 mt-1 mr-3"
        />
        <div class="">
          <label class="text-xl">Show Chord Chart</label>
        </div>
      </div>
      <div class="mt-6 ">
        <div class="flex justify-between">
          <label class="text-xl">Round duration (seconds)</label>
          <input
            class="w-16 border text-center rounded"
            type="number"
            v-model="roundDuration"
          />
        </div>
        <input
          min="60"
          max="300"
          type="range"
          v-model="roundDuration"
          class="mt-3 w-full"
        />
      </div>
      <div class="mt-6">
        <div class="flex items-center">
          <input
            class="w-12 h-8 mr-3 border text-center rounded"
            type="number"
            min="2"
            max="6"
            v-model="chordPracticeCount"
          />
          <div>
            <label class="text-xl">Chord Practice Count</label>
            <p class="support ">
              Choose the amount of chords you want to switch between.
            </p>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  computed: {
    roundDuration: {
      get() {
        return this.$store.state.settings.roundDuration;
      },
      set(duration) {
        this.$store.dispatch("setRoundDuration", duration);
      },
    },
    autoAdvance: {
      get() {
        return this.$store.state.settings.autoAdvance;
      },
      set(autoAdvance) {
        this.$store.dispatch("setAutoAdvance", autoAdvance);
      },
    },
    showChart: {
      get() {
        return this.$store.state.settings.showChart;
      },
      set(showChart) {
        this.$store.dispatch("setShowChart", showChart);
      },
    },
    chordPracticeCount: {
      get() {
        return this.$store.state.settings.chordPracticeCount;
      },
      set(count) {
        this.$store.dispatch("setChordPracticeCount", count);
      },
    },
  },
};
</script>

<style></style>
