<template>
  <div>
    <h2 class="text-5xl">
      {{ timeToString() }}
    </h2>
    <button
      class="btn w-full"
      v-on:click="isRunning ? stopTimer() : startTimer()"
      :class="isRunning ? 'btn-red text-lg' : 'btn-blue text-lg'"
    >
      {{ isRunning ? "Stop Timer" : "Start Timer" }}
    </button>
  </div>
</template>

<script>
export default {
  props: {
    startTime: {
      type: Number,
      default: 120,
    },
  },
  data() {
    return {
      currentTime: this.startTime,
      isRunning: false,
      timer: null,
    };
  },

  mounted() {},
  methods: {
    startTimer() {
      this.isRunning = true;
      this.setCurrentTime(this.startTime);
      this.timer = setInterval(() => {
        this.currentTime--;
        if (this.currentTime == 0) {
          console.log("end");
          this.stopTimer();
          this.$emit("onEnd");
        }
      }, 1000);
    },
    clearTimer() {
      clearInterval(this.timer);
    },
    pauseTimer() {
      this.isRunning = false;
      this.clearTimer();
    },
    resetTimer() {
      this.setCurrentTime(this.startTime);
    },
    setCurrentTime(time) {
      this.currentTime = time;
    },

    stopTimer() {
      this.isRunning = false;
      this.resetTimer();
      this.clearTimer();
    },

    timeToString() {
      let minutes = Math.floor(this.currentTime / 60);
      let seconds = this.currentTime % 60;
      return `${minutes
        .toString()
        .padStart(2, "0")}:${seconds.toString().padStart(2, "0")}`;
    },
  },
};
</script>

<style></style>
