<template>
  <div id="app">
    <Page msg="Welcome to Your Vue.js App" />
  </div>
</template>

<script>
import Page from "./components/Page.vue";
//import { chordList } from "./chords";
export default {
  name: "App",
  components: {
    Page,
  },
  created() {
    //this.$store.commit("SET_CHORDS", chordList);
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}
</style>
