.btn {
  @apply px-6 py-3 rounded text-sm  whitespace-no-wrap transition duration-150 ease-in-out;
}

.btn-indigo {
  @apply bg-indigo-600 text-white;
  &:hover,
  &:focus {
    @apply outline-none shadow-outline-blue border-blue-300;
  }
}

.btn-blue {
  @apply bg-blue-600 text-white;
  &:hover,
  &:focus {
    @apply outline-none shadow-outline-blue border-blue-300;
  }
}

.btn-red {
  @apply bg-red-600 text-white;
}

.btn-secondary {
  @apply border-gray-300 border text-gray-700 bg-white;
  &:hover {
    @apply text-gray-500 outline-none shadow-outline-blue border-blue-300;
  }
  &:focus {
    @apply outline-none shadow-outline-blue border-blue-300;
  }
  &:active {
    @apply text-gray-800 bg-gray-50;
  }
}
